.container {
  .choice-input {
    display: flex;

    input {
      flex-grow: 1;
    }

    .add-wrap {
      flex-shrink: 0;
      width: 35px;
      display: flex;
      align-items: stretch;
    }
  }

  .text {
    display: flex;
    align-items: flex-end;
    height: 100%;
    flex-grow: 1;
  }

  .actions {
    display: flex;
    justify-self: flex-end;
    flex-grow: 0;
    flex-shrink: 0;

    .button-wrap {
      margin: 0 2px;
    }
    .delete-wrap {
      margin-left: 15px;
    }
  }
}
